:root{
  --clr-primary: #090c2e;
  --clr-dark:#000;
  --clr-light:#fff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  /* background: #034444; */
  /* background: #090c2e; */
  background: var(--clr-light);
  background-color: var(--clr-primary);
  font-family: "Caveat", cursive;
}

/* ============================================================================= */
/* REUSABLES */
/* ============================================================================= */

/* 008cff */
/* TYPOGRAPHY */
/* ============== */
h1,
h2,
h3,
p,
a {
  /* font-family: lato; */
  /* font-family: Alegreya; */
  font-family: "Alegreya", "lato", "Muli", "B612", serif;
  /* font-family: "B612", sans-serif; */
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Muli", sans-serif; */
  font-weight: 400;
  line-height: 26px;
  color: var(--clr-light);
}

h1 {
  font-size: 38px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

/* LINKS */
/* ========================== */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
  margin: 4px;
}

/* ============================================================================= */
/* HEADER SECTION */
/* ============================================================================= */
header h1 {
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 2px;

  /* background-color: rgb(112, 31, 204); */
  /* width: 100%; */
}

header h1,
header p {
  text-align: center;
}

header p {
  margin-top: 20px;
  /* letter-spacing: 1px; */
}

.navbar {
  background-color: #0000004b;
}

.navbar-collapse li {
  /* position: static; */
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #00000000;
}

.navbar-collapse li:hover {
  border-bottom: 2px solid #ff5b3e;
}
.col-sm-6 img {
  width: 100%;
  /* height: 60%; */

  /* background-color: #ff5b3e; */
}

/* .navbar-collapse li:hover {
  background-color: #d2691e;
  border-radius: 2px;
  transition: background-color 0.7s ease;
} */

.hero {
  margin-top: 20px;
  /* background-color: coral; */
}

/* ============================================================================= */
/* SEARCH SECTION */
/* ============================================================================= */
.firstcontainer {
  /* padding: 106px; */
  /* background-color: coral; */
  margin: 40px auto;
  width: 80%;
}
.search {
  margin-top: 80px;
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.719)), url("illustrations/undraw1.svg"); */
  /* background-size: cover; */
}
.firstcontainer p {
  text-align: center;
  margin-bottom: 20px;
}

input {
  border: none;
  border-bottom: 1px solid var(--clr-light);
  background-color: #03444400;
  font-family: "Caveat", cursive;
  color: var(--clr-light);
  width: 100%;
  text-align: center;
  background-image: url("resouces/search.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 50px 0 0 0;
}

input:focus {
  background-color: #03444400;
  outline: none;
}

input:placeholder {
  font-size: 16px;
  text-align: center;
  font-family: "Caveat", cursive;
  color: var(--clr-light);
  opacity: 0.7;
  text-transform: capitalize;
}

input[type="submit"] {
  display: block;
  font-family: "Alegreya", "lato", "Muli", "B612", serif;
  padding: 4px;
  width: 15%;
  background-color: #03444400;
  border: 1px solid var(--clr-light);
  border-radius: 5%;
  color: var(--clr-light);
  background: none;
  margin: 20px auto auto auto;
  text-transform: capitalize;
  transition: background-color color 1s ease;
}
input[type="submit"]:hover {
  background-color: #f86d70;
  border: currentColor;
  outline: none;
  transition: background-color color 1s ease;
}

/* ============================================================================= */
/* FOOTER SECTION */
/* ============================================================================= */
footer {
  background: rgba(0, 0, 0, 0.794);
  margin-bottom: 0;
  /* position: absolute; */
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
}
